#dt1 {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgb(243, 241, 241), white);
}
.dc1 {
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 10px;
  background-color: white;
}
.dc2 {
  width: 100px;
  height: 100px;
  background-color: rgb(185, 45, 45);
  opacity: 0.2;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: initial;
  position: absolute;
  top: 145px;
  left: 140px;
}
.dc3 {
  width: 100px;
  height: 100px;
  background-color: rgb(185, 45, 45);
  opacity: 0.2;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: initial;
  position: absolute;
  top: 145px;
  right: 140px;
}
.dc4 {
  width: 100px;
  height: 100px;
  background-color: rgb(185, 45, 45);
  opacity: 0.2;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: initial;
  position: absolute;
  bottom: 145px;
  left: 140px;
}
.dc5 {
  width: 100px;
  height: 100px;
  background-color: rgb(185, 45, 45);
  opacity: 0.2;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: initial;
  position: absolute;
  bottom: 145px;
  right: 140px;
}
#dt1:hover {
  .dc2 {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  .dc3 {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 1;
  }
  .dc4 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 1;
  }
  .dc5 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 1;
  }
}
