@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0 0 0 0;
}
body {
  background-image: url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.font1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 20px;
  color: white;
}
.font2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 10px;
  color: white;
}
