@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0 0 0 0;
}
body {
  background-image: url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1885px;
}
#dt1 {
  background-image: linear-gradient(
    to right,
    rgb(184, 88, 88),
    rgb(91, 91, 194)
  );
  opacity: 0.8;
  width: 100%;
  height: 1885px;
}
#dt2 {
  width: 700px;
  height: 1500px;
  margin: 0 auto;
  background-color: rgb(61, 61, 156, 0.3);
  border-radius: 5px;
  mix-blend-mode: normal;
  padding-top: 30px;
  border-radius: 10px;
}
header {
  width: 700px;
  height: 100px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.font1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 20px;
  color: white;
}
.font2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.font3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: black;
}
#fielt1 {
  width: 600px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid gray;
  margin: 0 auto;
  text-align: justify;
}
.boxc1 {
  width: 596px;
  height: 40px;
  border: 2px solid rgb(71, 219, 71);
  border-radius: 3px;
  margin: 0 auto;
  padding: 0 0 0 0;
  outline: none;
}

#fielt2 {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid gray;
  margin: 0 auto;
}
.cb1 {
  border: 1px solid rgb(71, 219, 71);
}
#st5 {
  width: 628px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.boxc2 {
  width: 606px;
  height: 240px;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  outline: none;
}
.boxc3 {
  width: 628px;
  height: 40px;
  border: 2px solid gray;
  border-radius: 7px;
  margin: 0 auto;
  padding: 0 0 0 0;
  outline: none;
}
