#st1 {
  width: 400px;
  height: 500px;
  background-color: aqua;
  margin: 0 auto;
}
.dc1 {
  width: 400px;
  height: 80px;
  border-top: 2px solid rgb(74, 170, 74);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: initial;
}
.dc2 {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: initial;
}
.dc1:hover {
  height: 100px;
  background-color: rgb(184, 119, 46);
}
.dc2:hover {
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.dc1:has(> .dc2:hover) {
  height: 150px;
}
