body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.dc1 {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 20px;
}
@media only screen and (min-width: 340px) {
  .img1 {
    width: 90%;
    height: 30vw;
    margin-top: 15px;
    border-radius: 10px;
  }
  .img2 {
    width: 30%;
    height: 15vw;
    border-radius: 10px;
  }
  .pc1 {
    width: 50%;
    height: 15vw;
    font-size: 2vw;
  }
  .dc2 {
    background-color: rgb(204, 202, 202);
    border-radius: 15px;
    width: 86%;
    font-size: 2vw;
    padding: 0 2vw 0 2vw;
  }
}
@media only screen and (min-width: 768px) {
  .img1 {
    width: 30%;
    height: 30vw;
    margin-top: 15px;
    border-radius: 10px;
  }
  .img2 {
    width: 30%;
    height: 15vw;
    border-radius: 10px;
  }
  .pc1 {
    width: 64%;
    height: 15vw;
    font-size: 2vw;
  }
  .dc2 {
    background-color: rgb(204, 202, 202);
    border-radius: 15px;
    width: 92%;
    font-size: 2vw;
    padding: 0 2vw 0 2vw;
  }
}
@media only screen and (min-width: 1024px) {
  .img1 {
    width: 15%;
    height: 30vw;
    margin-top: 15px;
    border-radius: 10px;
  }
  .img2 {
    width: 32%;
    height: 15vw;
    border-radius: 10px;
  }
  .pc1 {
    width: 65%;
    height: 15vw;
    font-size: 2vw;
  }
  .dc2 {
    background-color: rgb(204, 202, 202);
    border-radius: 15px;
    width: 94%;
    font-size: 2vw;
    padding: 0 2vw 0 2vw;
  }
}
